:root {
    --color-beige-chiaro: #f5f5dc;
    --color-marrone-chiaro: #d2b48c;
    --color-rosa-antico: #d8a7b1;
    --color-oro: #b5651d;
    --color-bianco: #ffffff;
    --color-blu-scuro: #003366; /* Aggiunto Blu Scuro */
  }